* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background: linear-gradient(to top, #cf99ff, #6d00cc);
  font-family: Poppins;
  position: relative;
}
.nav {
  display: grid;
  min-height: 10vh;
  align-content: center;
}
.nav a {
  text-decoration: none;
}
.nav h1 {
  align-items: center;
  margin: 10px;
  color: aliceblue;
  font-family: Poppins;
}
.container {
  padding: 1rem;
}
.card__main {
  display: grid;
  place-content: center;
  min-height: 70vh;
  margin: 2rem auto;
}
.card {
  display: flex;
  flex-direction: column;
  padding: 0.7rem;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  background-color: #cf99ff;
  border-radius: 8px;
  border: 2px solid rgba(0, 0, 0, 0.06);
  height: 100%;
  min-height: 70vh;
}
.card__siblings {
  padding: 0.8rem;
  margin: 0.1rem;
}
.card__interno {
  border-radius: 8px;
}
.card__busca {
  opacity: 0.5;
  width: 100%;
  font: inherit;
  background: url(search.png) no-repeat 0.7rem 50% #dfdfdf;
  padding-left: 3rem;
}
.card__busca:focus {
  background-color: #fff;
  opacity: 0.5;
}
.receita {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  font-size: 1.1rem;
}
.receita:hover {
  background-color: #e2c4fd;
  cursor: pointer;
  transition: 0.3s;
}
.container__receitas {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  flex-grow: 1;
}
.container__pagination {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  align-items: center;
  padding: 0 10px;
  height: 40px;
}
.pagination__esquerda,
.pagination__direita {
  cursor: pointer;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
}
.box {
  position: absolute;
  top: 20%;
  left: 25%;
  width: 50%;
  height: 62%;
  background-color: #cf99ff;
  padding: 20px;
  align-items: center;
  justify-content: left;
  z-index: 10;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}
.box-add {
  display: flex;
  justify-content: left;
  /* border: 3px solid #6d00cc; */
  height: 80%;
  margin: 10px;
  padding: 10px;
}
input,
textarea {
  margin: 5px;
  padding: 17px;
  border: 0;
  border-radius: 8px;
  background-color: #dfdfdf;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}
.box input[type='text'] {
  font-family: inherit;
  height: 35px;
  width: 350px;
  background-color: #dfdfdf;
}
.box input[type='text']:focus,
textarea:focus {
  outline: #6d00cc solid 2px;
  background-color: #fff;
}
.data {
  font-family: inherit;
}
.box input[type='date']::-webkit-calendar-picker-indicator {
  width: 15px;
  padding: 0px;
  margin: 0px;
  margin-top: 10px;
}
.box input[type='submit'] {
  font-family: inherit;
  padding: 10px 17px;
  border: none;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.box input[type='submit']:hover {
  transition: 0.4s;
  background-color: #6d00cc;
  opacity: 90%;
  color: #fff;
}
.comentario {
  width: 600px;
  height: 150px;
  font-family: inherit;
  font-size: 0.8rem;
}
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  padding: 0 8px;
}
.group {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.button {
  text-decoration: none;
  min-width: 180px;
  padding: 30px 75px;
  border-radius: 5px;
  box-shadow: inset 0 0 0 0 #997cb3;
  transition: ease-out 0.2s;
  outline: none;
  text-align: center;
  font-size: 1.5rem;
}
.alert {
  display: inline;
  margin-left: 15%;
  background-color: rgb(242, 254, 108);
  border-radius: 10px;
  padding: 5px 30px;
}
.btn-1 {
  color: #fff;
  background-color: rgb(80, 92, 104);
}
.btn-1:hover {
  transition: 0.4s;
  background-color: rgba(91, 105, 118, 1);
}
.btn-2 {
  color: #000;
  background-color: hsl(50, 100%, 50%);
}
.btn-2:hover {
  transition: 0.4s;
  background-color: hsla(50, 100%, 79%, 1);
}
.label {
  margin: 20px;
}
.container h2 {
  text-align: center;
  color: aliceblue;
  font-family: Poppins;
}
.hidden {
  display: none;
}

/* MODELOS de botão em que o efeito desce

.btn-1 {
  color: #fff;
  border: 4px solid rgb(80, 92, 104);
  background-color: rgb(80, 92, 104);
  background-image: linear-gradient(to top, transparent 50%, #cf99ff 50%);
  background-size: 100% 200%;
  background-position: 0% 100%;
}
.btn-1:hover {
  background-position: 0% 0%;
  color: rgb(80, 92, 104);
}
.btn-2 {
  color: #000;
  border: 4px solid hsl(50, 100%, 50%);
  background-color: hsl(50, 100%, 50%);
  background-image: linear-gradient(to top, transparent 50%, #fff 50%);
  background-size: 100% 200%;
  background-position: 0% 100%;
}
.btn-2:hover {
  background-position: 0% 0%;
  color: rgb(80, 92, 104);
}
*/
